/*margin-left*/
.m-l-1{
    margin-left: 1px;
}
.m-l-2{
    margin-left: 2px;
}
.m-l-3{
    margin-left: 3px;
}
.m-l-4{
    margin-left: 4px;
}
.m-l-5{
    margin-left: 5px;
}
.m-l-6{
    margin-left: 6px;
}
.m-l-7{
    margin-left: 7px;
}
.m-l-8{
    margin-left: 8px;
}
.m-l-9{
    margin-left: 9px;
}
.m-l-10{
    margin-left: 10px;
}
.m-l-11{
    margin-left: 11px;
}
.m-l-12{
    margin-left: 12px;
}
.m-l-13{
    margin-left: 13px;
}
.m-l-14{
    margin-left: 14px;
}
.m-l-15{
    margin-left: 15px;
}
.m-l-16{
    margin-left: 16px;
}
.m-l-17{
    margin-left: 17px;
}
.m-l-18{
    margin-left: 18px;
}
.m-l-19{
    margin-left: 19px;
}
.m-l-20{
    margin-left: 20px;
}

/*margin-right*/
.m-r-1{
    margin-right: 1px;
}
.m-r-2{
    margin-right: 2px;
}
.m-r-3{
    margin-right: 3px;
}
.m-r-4{
    margin-right: 4px;
}
.m-r-5{
    margin-right: 5px;
}
.m-r-6{
    margin-right: 6px;
}
.m-r-7{
    margin-right: 7px;
}
.m-r-8{
    margin-right: 8px;
}
.m-r-9{
    margin-right: 9px;
}
.m-r-10{
    margin-right: 10px;
}
.m-r-11{
    margin-right: 11px;
}
.m-r-12{
    margin-right: 12px;
}
.m-r-13{
    margin-right: 13px;
}
.m-r-14{
    margin-right: 14px;
}
.m-r-15{
    margin-right: 15px;
}
.m-r-16{
    margin-right: 16px;
}
.m-r-17{
    margin-right: 17px;
}
.m-r-18{
    margin-right: 18px;
}
.m-r-19{
    margin-right: 19px;
}
.m-r-20{
    margin-right: 20px;
}

/*margin-top*/
.m-t-1{
    margin-top: 1px;
}
.m-t-2{
    margin-top: 2px;
}
.m-t-3{
    margin-top: 3px;
}
.m-t-4{
    margin-top: 4px;
}
.m-t-5{
    margin-top: 5px;
}
.m-t-6{
    margin-top: 6px;
}
.m-t-7{
    margin-top: 7px;
}
.m-t-8{
    margin-top: 8px;
}
.m-t-9{
    margin-top: 9px;
}
.m-t-10{
    margin-top: 10px;
}
.m-t-11{
    margin-top: 11px;
}
.m-t-12{
    margin-top: 12px;
}
.m-t-13{
    margin-top: 13px;
}
.m-t-14{
    margin-top: 14px;
}
.m-t-15{
    margin-top: 15px;
}
.m-t-16{
    margin-top: 16px;
}
.m-t-17{
    margin-top: 17px;
}
.m-t-18{
    margin-top: 18px;
}
.m-t-19{
    margin-top: 19px;
}
.m-t-20{
    margin-top: 20px;
}

/*margin-bottom*/
.m-b-1{
    margin-bottom: 1px;
}
.m-b-2{
    margin-bottom: 2px;
}
.m-b-3{
    margin-bottom: 3px;
}
.m-b-4{
    margin-bottom: 4px;
}
.m-b-5{
    margin-bottom: 5px;
}
.m-b-6{
    margin-bottom: 6px;
}
.m-b-7{
    margin-bottom: 7px;
}
.m-b-8{
    margin-bottom: 8px;
}
.m-b-9{
    margin-bottom: 9px;
}
.m-b-10{
    margin-bottom: 10px;
}
.m-b-11{
    margin-bottom: 11px;
}
.m-b-12{
    margin-bottom: 12px;
}
.m-b-13{
    margin-bottom: 13px;
}
.m-b-14{
    margin-bottom: 14px;
}
.m-b-15{
    margin-bottom: 15px;
}
.m-b-16{
    margin-bottom: 16px;
}
.m-b-17{
    margin-bottom: 17px;
}
.m-b-18{
    margin-bottom: 18px;
}
.m-b-19{
    margin-bottom: 19px;
}
.m-b-20{
    margin-bottom: 20px;
}